/*@import url('https://fonts.googleapis.com/css?family=raleway');*/
html,body {
   height: 100%;
  font-family: "Raleway",sans-serif;
  /*color: #59646f !important;*/
  color: #876c58 !important; /*#876c58  a9876a*/
}
.min-height-500{
  min-height: 500px;
}
a{
  color : inherit !important;
}
.z-index-2{
  z-index: 2;
}
.overflow{
  overflow-y: auto;
  height: 100%;
}
.overflow-hidden-x{
  overflow-x : hidden;
}
.width-double{
  flex: 200%;
  flex-shrink: 0;
}
.pt-no-menu{
  padding-top: 80px !important;
}
.pt-6{
  padding-top: 6rem !important;
}
.pt-7{
  padding-top: 8rem !important;
}
.main-header {
    /*border-bottom: 2px solid #e0e3e1;*/
}
.slogan{
  letter-spacing: 1px;
  word-spacing: 10px;
  color: #997546 ;
}
.wish-count{
  font-size: medium;
  font-family: sans-serif;
  border: 1px solid #e081bd;
  color: #e081bd;
  border-radius: 4px;
  /* padding: 2px 5px; */
  position: absolute;
}
.shop-count{
  font-size: medium;
  font-family: sans-serif;
  background-color: coral;
  color: white;
  border-radius: 100%;
  padding: 3px 7px;
  position: absolute;
}
.wish-color{
  color: #e094c2 !important;
}
.text-coral{
  color: #e79475 !important;
}
.fa-wish{
  font-size: 1.6em !important;
  top: 2px; /* change this */
}
.fs-1-3{
  font-size: 1.3em;
}
.fs-1-5{
  font-size: 1.5em;
}
.fs-0-8{
  font-size: 0.8em;
}
.cart-color{
  color:  #c0a973 !important; /*74d3f2*/
}
/* .mini-cart{
  opacity: 0;
}
.item-container:hover .mini-cart{
  opacity: 1;
  transition: opacity .5s;
} */
.add-to-cart{
  background-color: white !important; /* #b46420 #d78258 !important */
  color: inherit;
  border-radius: 0px;
  border: 1px solid ;
}
.heart-container{
  position: absolute;
  bottom: 25px;
}
.heart-container2{
  position: absolute;
  bottom: 10px;
  padding: 0;
  right: 10px;
}
.heart{
  background-color: white;
  border-radius: 100%;
  padding: 10px;
}
.heart-container i{
  background-color: #fff;
  border-radius: 100%;
  padding: 10px;
  padding-bottom: 8px;
  padding-top: 12px;
}
.heart-container2>div{
  background-color: #fff;
  border-radius: 100%;
  font-size: 0.7em !important;
  width: 30px;
  height: 30px;
  padding-top: 3px;
  /* padding: 7px;
  padding-bottom: 5px;
  padding-top: 7px; */
}
.header-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  background-color: white;
  height: 80px;
}
.footer-container{
  height: 200px;
  background-color: #f3f3be;
  /* bottom: 0;beige
  width: 100%;
  position: absolute; */
}

.search{
  opacity: 0.3;
  transition: opacity .5s;
}
.search:hover, .search:focus-within{
  opacity: 1;
}
.menu-container {
  top: 80px;
  background: beige !important;
  border-bottom: 1px solid #dbc4b5;
  position: fixed;
  width: 100%;
  z-index: 91;
}

.pointer{
  cursor: pointer;
}

label{
  font-weight: bold;
}
.h-10{
  height: 10%;
}
.h-90{
  height: 90%;
}
.h-100{
  height: 100%;
}
.bg-beige{
  background-color: beige !important;
}
.btn-brown{
  color:  white !important;
  border: 1px solid #876c58;
  background-color: #876c58;
}
.btn-outline-brown{
  color: #876c58 !important;
  border: 1px solid #876c58;
  background-color: white;
}
.text-brown{
  color: #876c58 !important;
}
.border-bottom-brown{
  border:none;
  border-bottom: 1px solid #876c58;
}
.bg-lightbrown{
  background-color: #f9f6f4;
}
.text-darkyellow{
  color: #7e640d !important;
}
.no-deco,.no-deco:hover{
  text-decoration: none;
  color: inherit;
  outline: none;
}
.store-link{
}
.store-link:hover{
  color: #007bff;
}
.image{
  min-width: 115%;
  max-width: 115%;
  min-height: 250px;
  max-height: 250px;
}
.image-container{
  min-height: 200px;
  max-height: 200px;
  overflow: hidden;
  background-color: #dadada;
}
.image-container2{
  min-height: 160px;
  max-height: 160px;
  overflow: hidden;
  background-color: #dadada;
}

.img-show-cls {
    width: auto !important;
    margin: auto;
    max-width: 100%;
}
.image-show{
  max-height: 300px;
  z-index: 90;
}
.algeria, .border-bottom-brown-2{
  border-bottom:2px solid !important;
}
.desc-limit{
  height: 150px;
  overflow: hidden;
}
.react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100% !important;
}
.react-phone-number-input__icon{
    border : none !important;
}
